.box1{
    border: 2px solid red;
    width: 50%;
    height: 800px;
    background-color: dodgerblue;
}
.label{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: inherit;
}
.nilesh{
    padding: 11px 60px;
    margin-top: 10px;
    margin-left: 40px;
    border-radius: 20px;
    border: none;
}
.comment{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: inherit;
    margin-top: -20px;
}
.text{
    padding: 20px 60px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 20px;
    border: none;
}