/* .collection{
    border: 2px solid red;
    height: 500px;
    width: 100%;
    display: flex;
}
.collection1{
    border: 2px solid red;
    height: 500px;
    width: 100%;
    display: flex;
} */