*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: lightcoral; */
}
/* .btn{
    margin-top: 50px;
    padding: 6px ;
    background-color: bisque;
    float: left;
    border: 1px solid black;
} */